<h3>Запрос на заказ</h3>
<ul>
  <li><strong>Имя</strong>: <%= @message.name %></li>
  <li><strong>Телефон</strong>: <%= @message.phone %></li>
</ul>
<STRONG>Тема заказа:</STRONG>
<p><%= @message.slave %></p>
<STRONG>Описание заказа:</STRONG>
<p><%= @message.description %></p>
