<h3>Вопрос от</h3>
<ul>
  <li><strong>Имя</strong>: <%= @message.name %></li>
  <li><strong>Телефон</strong>: <%= @message.phone %></li>
</ul>
<STRONG>Описание вопроса:</STRONG>
<p><%= @message.description %></p>
